@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* Colors */
  --color-background: #1f1f1e;
  --color-card: #30302e;
  --color-tag: #262624;
  --color-border: #4a4a46;
  --color-text: #faf9f5;
}


* {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
}


body {
  min-height: 100%;

  padding: 0.5em;

  background-color: var(--color-background);

  color: var(--color-text);
  font-family: 'Inter', sans-serif;
}


/* Sections */
section {
  margin-top: 2rem;
}


/* Links */
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}